<div class="container-fluid" name="plan">
  <div class="row pt-4 pb-4" style="background-color: #9ac2c9">
    <div class="container pb-4 pt-4">
      <section class="row mb-5">
        <h2 class="display-2">Nuestros planes</h2>
      </section>
      <div class="row">
        <div class="col-4" style="height: 100%">
          <div class="card card-color no-border-radius">
            <div class="card-body">
              <h5 class="card-title display-4">Gratuito</h5>
              <ul>
                <li>1 Tienda</li>
                <li>20 Productos máximo</li>
                <li>Plantillas predefinidas</li>
              </ul>
              <p class="card-text">
                <small class="text-muted"
                  >Ver comparación completa de planes.</small
                >
              </p>
            </div>
          </div>
        </div>

        <div class="col-4">
          <div class="card card-color no-border-radius">
            <div class="card-body">
              <h5 class="card-title display-4">Básico</h5>
              <ul>
                <li>5 Tiendas</li>
                <li>20 Productos por tienda</li>
                <li>Plantillas personalizadas</li>
              </ul>
              <p class="card-text">
                <small class="text-muted"
                  >Ver comparación completa de planes.</small
                >
              </p>
            </div>
          </div>
        </div>

        <div class="col-4">
          <div class="card card-color no-border-radius">
            <div class="card-body">
              <h5 class="card-title display-4">Profesional</h5>
              <ul>
                <li>Tiendas ilimitadas</li>
                <li>Productos ilimitados</li>
                <li>Plantillas personalizadas</li>
              </ul>
              <p class="card-text">
                <small class="text-muted"
                  >Ver comparación completa de planes.</small
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
