<app-landing-nav></app-landing-nav>

<app-landinng-mockup></app-landinng-mockup>

<div class="container-fluid" name="plan">
  <div class="row bg-success pt-3 pb-3">
    <div class="container">
      <section class="row">
        <h2 class="display-3">Nuestros planes</h2>
      </section>
      <app-plans class="row"></app-plans>
    </div>
  </div>
</div>

<div class="container-fluid" name="information">
  <div class="row bg-warning pt-3 pb-3">
    <div class="container">
      <section class="row">
        <section class="col-6">
          <h3 class="display-3">¿Porqué usar Emiru?</h3>
        </section>
        <section class="col-6"></section>
        <section class="col-6"></section>
        <section class="col-6">
          <ul>
            <li class="mb-3">
              <h4 class="class-4">
                Emiru te permite crear tu tienda sin necesidad de tener
                conocientos tectnicos. Puede personalizar la apariencia a tu
                gusto.
              </h4>
            </li>
            <li class="mb-2">
              <h4 class="class-4">
                Te ayudamos a llegar a tus clientes y ampliar tu negocio. Unos
                cuantos clicks y podras tener tu tienda funcionando online.
              </h4>
            </li>
          </ul>
        </section>
      </section>
    </div>
  </div>
</div>
