<div class="container-fluid py-3">
  <div class="row">
    <div class="col-12 col-sm-8 col-md-6 col-lg-4 mx-auto">
      <h4 class="">Add payment</h4>
      <form #paymentForm="ngForm" (ngSubmit)="onsubmit(paymentForm, $event)">
        <div class="form-group">
          <label for="cardName">Name in card</label>
          <input type="text" name="cardName" class="form-control" />
        </div>

        <div class="form-group">
          <label for="cardNumer">Card number</label>
          <input type="number" name="cardNumer" class="form-control" />
        </div>

        <div class="form-row align-items-center">
          <div class="col-auto">
            <div class="form-group">
              <label for="cardExpiration">Card expiration</label>
              <input type="text" name="cardExpiration" class="form-control" />
            </div>
          </div>

          <div class="col-auto">
            <div class="form-group">
              <label for="cardCvv">Card cvv</label>
              <input type="text" name="cardCvv" class="form-control" />
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn-light no-border-radius">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
