<div class="container-fluid" style="height: 100vh">
  <div style="position: fixed; z-index: 1">
    <button class="btn btn-dark">Entrar</button>
  </div>

  <div class="row" style="height: 100%">
    <div class="col-6" style="background-color: #393e46">
      <section class="mt-auto mb-auto p-4">
        <h1>Vende en linea con Emiru</h1>
        <br />
        <h1>Con Emiru podras crear tu negocio y vender tus servicios</h1>
      </section>
    </div>
    <div class="col-6" style="background-color: #eeeeee">
      <section class="mt-auto mb-auto p-4">landing mockup</section>
    </div>
  </div>
</div>
