<app-landing-nav></app-landing-nav>

<div class="container-fluid">
  <div class="row" name="mockup">
    <section class="container mt-4">
      <div class="row">ooo</div>
      <div class="navbar row bg-light" name="mockup-nav">
        <a>Edit</a>
        <a>Home</a>
        <a>Icons</a>
      </div>
      <div class="row bg-primary" style="height: 500px">
        <section class="col-7 align-self-center">
          <h1 class="display-1">Crea tu propia tienda online.</h1>
          <div class="row mt-4">
            <div class="col-3">
              <button class="btn btn-light btn-lg">Comenzar</button>
            </div>
            <p class="col-9">
              Con Emiru podras crear tu tienda, y tener una plaforma para
              venderle productos a tus clientes.
            </p>
          </div>
        </section>
      </div>
    </section>
  </div>
  <hr />
  <div class="container pt-2" name="plan">
    <section class="row">
      <h2 class="display-3">Nuestros planes</h2>
    </section>
    <app-plans class="row"></app-plans>
  </div>
</div>
