<nav
  class="navbar sticky-top"
  id="navbar"
  (scroll)="onScroll($event)"
  style="background-color: {{ navColor }}"
>
  <span class="navbar-brand mb-0 h1">
    <a [routerLink]="['./']" class="text-decoration-none">Emiru</a>
  </span>
  <div>
    <a>Planes</a>
    <a>Plantillas</a>
    <a>Recursos</a>
  </div>
  <div>
    <a [routerLink]="['./login']" class="btn btn-link text-light"
      >Iniciar sesión</a
    >
    <a [routerLink]="['./register']" class="btn btn-light">Comenzar</a>
  </div>
</nav>
