<div
  class="container-fluid"
  style="
    background-image: url('./assets/first.jpg');
    background-size: cover;
    height: 750px;
  "
>
  <div class="row" name="mockup" style="height: 100%">
    <section class="container" style="white-space: nowrap">
      <div class="mt-5">
        <div class="row">
          <small><i class="fa fa-circle light text-danger"></i></small> &nbsp;
          <small><i class="fa fa-circle light text-warning"></i></small> &nbsp;
          <small><i class="fa fa-circle light text-success"></i></small> &nbsp;
        </div>
        <div class="navbar row bg-light" name="mockup-nav">
          <a>Edit</a>
          <a>Home</a>
          <a>Icons</a>
        </div>
        <div
          class="row"
          style="
            height: 500px;
            box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
          "
        >
          <section class="col-12 align-self-center">
            <h1 class="display-1 text-light text-center">
              Crea tu propia tienda online.
            </h1>

            <p class="text-center text-light">
              Con Emiru podras crear tu tienda, y tener una plaforma para
              venderle productos a tus clientes.
            </p>
            <div class="text-center">
              <button class="btn btn-light btn-lg">Comenzar</button>
            </div>
          </section>
        </div>
      </div>
    </section>
  </div>
</div>
