<section class="container">
  <section class="row">
    <div class="col-6">
      <h3>Login</h3>
      <div class="alert alert-danger" role="alert" [hidden]="!invalidSubmit">
        {{ invalidSubmitMessage }}
      </div>

      <form
        class=""
        #loginForm="ngForm"
        (ngSubmit)="onSubmit(loginForm, $event)"
      >
        <div class="form-group">
          <label for="email">Email</label>

          <input
            class="form-control is-invalid"
            type="email"
            name="email"
            id="email"
            pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
            #email="ngModel"
            [(ngModel)]="user.email"
            [ngClass]="{
              'is-invalid': email.errors && email.touched,
              'is-valid': !email.errors && email.touched
            }"
            required
            autocomplete="on"
          />
          <div [hidden]="!email.errors?.required" class="invalid-feedback">
            Email is required
          </div>
          <div [hidden]="!email.errors?.pattern" class="invalid-feedback">
            invalid email
          </div>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input
            class="form-control"
            type="password"
            name="password"
            id="password"
            #password="ngModel"
            [(ngModel)]="user.password"
            [ngClass]="{
              'is-invalid': password.errors && password.touched,
              'is-valid': !password.errors && password.touched
            }"
            required
            autocomplete="on"
          />
        </div>
        <br />
        <button
          class="btn btn-light no-border-radius {{
            email.errors || password.errors ? 'disabled' : ''
          }}"
          type="submit"
        >
          Entrar
        </button>
      </form>

      <div>
        <span class="text-muted"
          ><a [routerLink]="['/register']"
            >¿No tienes cuenta? Registrate.</a
          ></span
        >
      </div>
    </div>
  </section>
</section>
