<div class="container" name="online">
  <div class="row pt-4 pb-4">
    <div class="col-6">
      <h1 class="display-3 align-items-center">¡Haz crecer tu negocio!</h1>
    </div>
    <div class="col-6">
      <section class="mt-4 mb-4">
        <h3>Crea tu presencia online</h3>
        <p>
          Con Emiru podras tener tu presencia online, asi podras hacer llegar
          tus productos a mas personas.
        </p>
      </section>

      <section class="mt-4 mb-4">
        <h3>Nuevos canales de distribución</h3>
        <p>
          Tendras muchas formas de hacer llegar tus productos a tus clientes,
          asi ellos tendran una mejor experiencia comprando tus productos.
        </p>
      </section>

      <section class="mt-4 mb-4">
        <h3>Facil de usar</h3>
        <p>
          No tienes que preocuparte por configuraciones complicadas, Emiru hace
          todo lo dificil, tu solo seleccionas el tipo de tienda que te conviene
          y Emirua la crea por ti.
        </p>
      </section>
    </div>
  </div>
</div>
